.contenedores{
    max-width: 95%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px ;
    display: block;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
}

.contenedores .eliminar{
    display: inline-flex;
    padding: .5rem .75rem;
    text-decoration: none;
    border:none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    background-color:#eb2910;
    color: #FFFFFF;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    margin-left: 20px;
}

.contenedores svg{
    width: 1rem;
    height: 2rem;  
}
.contenedores .Cabecera{
    display: flex;
    margin-bottom: 30px;
}
.contenedores .Cabecera h2{
    font-family: 'Maven Pro', sans-serif;
    color: #1176ae;
    line-height: 2rem;
    margin-top: 5px;
}
.contenedores .Cabecera input{
    display: inline-block;
    height: 2.25rem;
    padding: .5rem 1rem;
    background-color: rgba(239, 246, 255, 1);
    color: #02040f;
    border: 1px solid rgba(191, 219, 254, 1);
    outline: none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    vertical-align:top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 35rem;
    margin-top: 5px;


}
.contenedores .button-new{
    display: inline-flex;
    padding: .5rem .75rem;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #FFFFFF;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    margin-left: .5rem;

}
.contenedores table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
} 

.contenedores table th{
    padding: .75rem 1.5rem;
    background-color: rgba(239, 246, 255, 1);
    color: #02040f;
    text-transform: uppercase;
    font-family: 'Nobile', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    border: 1px solid rgba(219, 234, 254, 1);
    border-left: 0;
    border-right: 0;

}

.contenedores table td {
    color: #02040f;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-top: 20px;
    padding-left:35px;
}
.contenedores .Activo{
    background-color: rgba(209, 250, 229, 1);	
    color: rgba(5, 150, 105, 1);
}

.contenedores .Inactivo{
    background-color: rgba(254, 243, 199, 1);	
    color: rgba(217, 119, 6, 1);
}

.contenedores .Desactivado{
    background-color: rgba(254, 226, 226, 1);
    color: rgba(220, 38, 38, 1);
}
.contenedores span{
    padding: .1rem .5rem;
    background-color: #E5DADA;
    text-transform: uppercase;
    border-radius: .25rem;
    font-weight: 600;
}

.contenedores table select{
        border: none;
        background-color: #FFFFFF ;
    
}
.contenedores .guardar{
    display: inline-flex;
    padding: .5rem .75rem;
    text-decoration: none;
    border:none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    background-color:#1176ae;
    color: #FFFFFF;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);   
}

.role {
    text-transform: capitalize;
}